---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>
  </head>
  <body>
    <script is:inline>
      window.CMS_MANUAL_INIT = true;
    </script>
    <script is:inline src="https://unpkg.com/decap-cms@3.6.0/dist/decap-cms.js" integrity="sha384-YKAhjhs+FxJuAiBDkaCHX76aWVn+Jd7HL5znUp2S/McT32qAJdfsZMP9LQOSDE5B" crossorigin="anonymous"></script>
    <script is:inline src="/admin/previews.js?v=6"></script>
  </body>
</html>
